0x0B-python-input_output/__pycache__/0-read_file.cpython-310.pyc
0x0B-python-input_output/__pycache__/1-write_file.cpython-310.pyc
0x07-python-test_driven_development/2-main.py
0x07-python-test_driven_development/3-main.py
0x07-python-test_driven_development/3-say_my_name.py
0x07-python-test_driven_development/4-main.py
0x07-python-test_driven_development/5-main.py
0x07-python-test_driven_development/6-main.py
0x07-python-test_driven_development/6-max_integer.py
0x07-python-test_driven_development/100-matrix_mul.py
0x07-python-test_driven_development/__pycache__/0-add_integer.cpython-310.pyc
0x07-python-test_driven_development/__pycache__/2-matrix_divided.cpython-310.pyc
0x07-python-test_driven_development/__pycache__/3-say_my_name.cpython-310.pyc
0x07-python-test_driven_development/__pycache__/4-print_square.cpython-310.pyc
0x07-python-test_driven_development/__pycache__/5-text_indentation.cpython-310.pyc
0x07-python-test_driven_development/__pycache__/6-max_integer.cpython-310.pyc
0x07-python-test_driven_development/tests/3-say_my_name.txt
0x07-python-test_driven_development/tests/__pycache__/6-max_integer_test.cpython-310.pyc
0x08-python-more_classes/6-main.py
0x08-python-more_classes/7-main.py
0x08-python-more_classes/8-main.py
0x08-python-more_classes/9-main.py
0x08-python-more_classes/__pycache__/6-rectangle.cpython-310.pyc
0x08-python-more_classes/__pycache__/7-rectangle.cpython-310.pyc
0x08-python-more_classes/__pycache__/8-rectangle.cpython-310.pyc
0x08-python-more_classes/__pycache__/9-rectangle.cpython-310.pyc
